.side_bar
  .side_bar_name
    %ul.header_lists
      %li
        = link_to "/users/", class: "side_bar_name" do
          = "マイページ"
          %i.fas.fa-chevron-right
      %li
        お知らせ
        %i.fas.fa-chevron-right
      %li
        やることリスト
        %i.fas.fa-chevron-right
      %li
        いいね！一覧
        %i.fas.fa-chevron-right
      %li
        出品する
        %i.fas.fa-chevron-right
      %li
        出品した商品-出品中
        %i.fas.fa-chevron-right
      %li
        出品した商品-取引中
        %i.fas.fa-chevron-right
      %li
        出品した商品-売却済み
        %i.fas.fa-chevron-right
      %li
        購入した商品-取引中
        %i.fas.fa-chevron-right
      %li
        購入した商品-過去の取引
        %i.fas.fa-chevron-right
      %li
        ニュース一覧
        %i.fas.fa-chevron-right
      %li
        評価一覧
        %i.fas.fa-chevron-right
      %li
        ガイド
        %i.fas.fa-chevron-right
      %li
        お問い合わせ
        %i.fas.fa-chevron-right
    %h4
      メルペイ
    %ul.header_merpay
      %li
        売上・振込申請
        %i.fas.fa-chevron-right
      %li
        ポイント
        %i.fas.fa-chevron-right
    %h4
      設定
    %ul.header_set
      %li
        = link_to "/users/:id/edit/",class: "side_bar_name" do
          = "プロフィール"
          %i.fas.fa-chevron-right
      %li
        発送元・お届け先住所変更
        %i.fas.fa-chevron-right
      %li
        = link_to "/users/card/", class: "side_bar_name" do
          = "支払い方法"
          %i.fas.fa-chevron-right
      %li
        メール/パスワード
        %i.fas.fa-chevron-right
      %li
        = link_to "/users/info/", class: "side_bar_name" do
          = "本人情報"
          %i.fas.fa-chevron-right
      %li
        電話番号の確認
        %i.fas.fa-chevron-right
      %li
        = link_to "/users/logout", class: "side_bar_name" do
          = "ログアウト"
          %i.fas.fa-chevron-right