= render :partial => "header_login"
- breadcrumb :card_create
= render "layouts/breadcrumbs"
%main.main_contents
  = render :partial => "card_create"
  = render :partial => "sidebar"
= render :partial => "footer"
= render :partial => "sell_btn"
