= render :partial => "header_login"
- breadcrumb :profile
= render "layouts/breadcrumbs"
%main.main_contents
  .main
    .upper
      .profile-edit
        .profile-edit__header
          %h2
            プロフィール
        .profile-edit__user
          = image_tag("/images/member_photo_noimage.png")
          %input{type:"text",value:current_user.nickname,placeholder:"例)AYA☆セール中"}
        .profile_edit__text
          %textarea{name:"introduction",placeholder:"例)こんにちは☆ご覧いただきありがとうございます！",cols:"50",rows:"5"}
        .profile_edit__footer
          %input{type:"submit",class:"change",value:"変更する"}
  = render :partial => "sidebar"
= render :partial => "footer"
= render :partial => "sell_btn"