= render partial: "header_login"
- breadcrumb :users
= render "layouts/breadcrumbs"
%main.main_contents
  .main
    .upper
      .mypage_name
        = image_tag "/images/member_photo_noimage.png", class: "border_radius"
        = link_to current_user.nickname, "evaluation.html"
        %ul
          評価
          %span.math 0
        %ul
          出品数
          %span.math 0
      .mypage_tabs
        %input#notice{checked: "checked", name: "tab_item1", type: "radio"}/
        %label.tab_item1{for: "notice"} お知らせ
        %input#todo{name: "tab_item1", type: "radio"}/
        %label.tab_item1{for: "todo"} やることリスト
        #notice_contents.tab_contents
          = image_tag "/images/mercari_icon.png", class: "mercari_icon"
          %p 実際の通知
        #todo_contents.tab_contents
          = image_tag "/images/mercari_icon.png", class: "mercari_icon"
          %p 現在、やることリストはありません
        .list
          %ul 一覧をみる
      .lower
        %h2 購入した商品
        .lower_tabs
          %input#transaction{checked: "checked", name: "tab_item2", type: "radio"}/
          %label.tab_item2{for: "transaction"} 取引中
          %input#past_transaction{name: "tab_item2", type: "radio"}/
          %label.tab_item2{for: "past_transaction"} 過去の取引
          #transaction_contents.tab_contents
            = image_tag "/images/mercari_icon.png", class: "mercari_icon"
            %p 取引中の商品がありません
          #past_transaction_contents.tab_contents
            = image_tag "/images/mercari_icon.png", class: "mercari_icon"
            %p 過去に取引した商品がありません
  = render partial: "sidebar"
= render partial: "footer"
= render partial: "users/sell_btn"