= render partial: "header_login"
- breadcrumb :log_out
= render "layouts/breadcrumbs"
%main.main_contents
  .main
    .upper
      #log_out.create__main1
        #addbutton.create__main__button
          -# #mishima ユーザー新規登録 ログアウト機能を追加
          = link_to destroy_user_session_path,id:"logoutbutton8",method: :delete do
            ログアウト  
  = render partial: "sidebar"
= render partial: "footer"
= render partial: "sell_btn"