= render :partial => "users/header"
= render "devise/shared/links"
.snslogin
  .snslogin__facebooklogin
    = image_tag "snslogo/facebook.png",width:"26",height:"26",margin:"8px 0px 0px",class:"facebookicon"
    Facebookでログイン
  .snslogin__googlelogin
    = image_tag "snslogo/google.png",width:"26",height:"26",margin:"8px 0px 0px",class:"googleicon"
    Googleでログイン
#loginmain.create__main
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .create__main__form.form
      = f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"メールアドレス"
    .create__main__form.form
      = f.password_field :password, autocomplete: "current-password",placeholder:"パスワード"
    #addbutton.create__main__button
      %button.create-add.login
        = f.submit "ログイン",id:"login"
= render :partial => "users/footer"