%body
  .single-container
    %header.sellsingle-header
      %h1
        = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1248199994", class: "mercari-icon" ,alt:"mercari"),root_path
    %main
      %section.items-contents
        .items-contents__title
          %h2 商品の情報を入力
        = form_with(model: items,local: true) do |f|
          .items-contents__image
            %h3 出品画像
            %span 必須
            %p 最大10枚までアップロードできます
            =f.fields_for :images do |img|
              .items-contents__image--drop-box
                #preview
                -if @images.present?
                  -@images.each do |i|
                    .fagggg
                      = image_tag i.image.url,width:"200px",height:"200px",id:"previewdefault"
                    %input#editdefault{type: "button", value: "編集"}
                    %input#cleardefault{type: "button", value: "削除"}
                .hghghg
                  %input#edit{type: "button", value: "編集"}
                  %input#clear{type: "button", value: "削除"}
                = img.label :url, for: "preview" do
                  .items-contents__image--drop-box--click
                    ドラッグアンドドロップ
                    %br
                    またはクリックしてファイルをアップロード
              .preview
                = img.file_field :image, class:"items-contents__image--drop-box--file", onChange:"imgPreView(event)"
                = img.hidden_field :image_id,value:img.object.id
          .items-contents__item-info
            .items-contents__item-info--name
              %h4 商品名
              %span 必須
              = f.text_field :name, class: "items-contents__item-info--name--input", placeholder: "商品名（必須 40文字まで)"
            .items-contents__item-info--description
              %h4 商品の説明
              %span 必須
              = f.text_area :description, class: "explanation", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows:5
          .items-contents__item-about.clearfix
            .items-contents__item-about--head 商品の詳細
            .items-contents__item-about--box
              -if @category.present?
                .items-contents__item-about--box--category
                  %h4 カテゴリー
                  %span 必須
                  %i.sell.fas.fa-chevron-down
                  = f.select :category_id,@category_parent_array,{selected:@category.root.name},{class: 'items-contents__item-about--box', id: 'parent_category'}
                #children_wrapper.items-contents__item-about--box--category1
                  = f.select :category_id,options_for_select(@category_children.map{|c|[c[:name],c[:id], {'data-category'=>c[:id]}]},@category_2) , {}, {class: 'items-contents__item-about--box--category1', id: 'child_category'}
                #grandchildren_wrapper.items-contents__item-about--box--category2
                  = f.select :category_id , options_for_select(@category_grandchildren.map{|c|[c[:name],c[:id], {'data-category'=>c[:id]}]},@category_1) , {}, {class: 'items-contents__item-about--box--category2', id: "grandchild_category"}
              -else
                .items-contents__item-about--box--category
                  %h4 カテゴリー
                  %span 必須                
                  %i.sell.fas.fa-chevron-down
                  = f.select :category_id , @category_parent_array , {}, {class: '.items-contents__item-about--box', id: 'parent_category'}
              .items-contents__item-about--box--size
                %h4 サイズ
                %span 必須
                %i.sell.fas.fa-chevron-down
                = f.select :size, ['XXS以下','XS(SS)','S','M','L','XL(LL)','２XL(3L)','3XL(4L)','4XL(5L)以上','FREE SIZE','なし','別途記載'],prompt: "---"              
              .items-contents__item-about--box--brand
                %h4 ブランド
                %span.nini 任意
                %i.sell.fas.fa-chevron-down
                = f.select :brand,['シャネル','ナイキ','ルイヴィトン','シュプリーム','アディダス','その他'],{prompt: "---"}, {class: "items-contents__item-info--name--input", placeholder: "例）シャネル",}
              .items-contents__item-about--box--condition
                %h4 商品の状態
                %span 必須
                %i.sell.fas.fa-chevron-down
                = f.select :status, ['新品、未使用','未使用に近い','目立った傷や汚れなし','やや傷や汚れあり','傷や汚れあり','全体的に状態が悪い'],prompt: "---"
          .items-contents__shipping.clearfix
            %h3.items-contents__shipping--head 配送について
            =link_to '?', "/jp/help_center/article/68/", {class: "form-question"}
            .items-contents__shipping--box
              .items-contents__shipping--box--charge
                %h4 配送料の負担
                %span 必須
                %i.sell.fas.fa-chevron-down
                = f.select :ship_person, ['送料込み(出品者負担)','着払い(購入者負担)'],{prompt: "---"},{class: 'items-shipping_charge'}
              .items-contents__shipping--box--method
                %h4 配送の方法
                %span 必須
                %i.sell.fas.fa-chevron-down
                = f.select :ship_method, [],{prompt: "---"}, {class: 'add-items-shipping_method'}
              .items-contents__shipping--box--ship-from-region
                %h4 発送元の地域
                %span 必須
                %i.sell.fas.fa-chevron-down
                = f.select :ship_area, @prefectures.map{|t| [t.name]}, prompt:"---"
              .items-contents__shipping--box--date
                %h4 発送までの日数
                %span.form-require 必須
                %i.sell.fas.fa-chevron-down
                = f.select :ship_days,["1~2日で発送","2~3日で発送","4~7日で発送"],prompt: "---"
          .items-contents__price.clearfix
            %h3.items-contents__price--head 販売価格(300〜9,999,999)
            =link_to '?', "/jp/help_center/article/68/", {class: "form-question"}
            .items-contents__price--box
              %ul
                %li.items-contents__price--box--list_top
                  .items-contents__price--box--list_top--label.clearfix
                    %label 
                      価格 
                      %span.need_icon 必須 
                    .items-contents__price--box--list_top--right
                      ¥
                      = f.text_field :price, class: "items-contents__price--box--list_top--right--input", placeholder:"例）300"
                %li.items-contents__price--box--list_center.clearfix
                  .items-contents__price--box--list_center--text 販売手数料（10%）
                  .items-contents__price--box--list_center--sales
                    -if items.price.present?
                      ¥
                      =(items.price * 0.1).to_i  
                    -else
                      - 
                %li.items-contents__price--box--list_under.clearfix
                  %label.profit 
                    販売利益
                    .items-contents__price--box--list_under_sales
                      -if items.price.present?
                        ¥
                        =(items.price * 0.9).to_i  
                      -else
                        - 
          .items-contents__submit
            =link_to '禁止されている出品', ''
            、
            =link_to '行為', ''   
            を必ずご確認ください。
            %br
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            =link_to '偽ブランドの販売', ''   
            は犯罪であり処罰される可能性があります。
            %br
            また、出品をもちまして
            =link_to '加盟店規約', ''
            に同意したことになります。
            = f.submit("出品する", class: "items-contents__submit--go-btn", id:"opener")
            .items-contents__submit--back-btn もどる
            
            #dialog{style: "display:none;"} 
              .dialog-header
                %h3 出品が完了しました
                .dialog-body
                  あなたが出品した商品は「出品した商品一覧」からいつでも見ることができます。
                  =link_to '続けて出品する', new_item_path, class: "dialog-sell-btn"
                  =link_to '商品ページへ行ってシェアする',"/items/#{@sell}",method: :get,class: "dialog-sell-link"

            #fadeLayer

    %footer.confirm-info__footer
      %nav
        %ul.clearfix
          %li
            =link_to 'プライバシーポリシー', '' 
          %li
            =link_to 'メルカリ利用規約', '' 
          %li
            =link_to '特定商取引に関する表記', '' 
      = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1248199994", height: "65",width: "80", alt: "Mercari",class: "single-footer-logo")
      %p
        %small © 2019 Mercari