%body
.singlecontainer
  %header.singleheader
    %h1
      = link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2317089198", class: "mercarilogo_buy", width: "185px"),"https://www.mercari.com/jp/"
  .main-base
    .single-head
      %h2.lsingle-head
        購入内容の確認
      .buy-content-item
        .buy-content-innerspace
          %h3.bitem-image
            = image_tag("/images/apple_watch.png", width: "64px")
          %p.bitem-name
            Apple Watch
          %form.buy-forma
            %p.buy-pricea
              ¥2,700
              %span.shipping-fee
                送料込み
            %ul.buy-point-nothave
              %li.ac-parent
                .ac-toggle
                  ポイントはありません
            %ul.buy-priceb
              %li.buy-you-pay
                .buy-price-cell
                  支払い金額
                .buy-price-cella
                  %span.priceb
                    ¥52,800
            %p.has-errortext
              配送先と支払い方法の入力を完了してください。
            %button.btn-red
              購入する
      .buy-content-userinfo
        .buy-content-innerspace
          %h3.adres
            配送先
          %address.buy-userinfo-text
            〒520-○○○○
            %br
            滋賀県大津市〇〇町〇ー〇
            %br
            川端 康成
          %ul.buy-userinfo-fix
            = link_to "", class: "userinfo-fix" do
              %span.changea
                変更する
                %i.fas.fa-chevron-right.change1
      .buy-content-userinfo-b
        .buy-content-innerspace
          %h3.payb
            支払い方法
          %p.userinfo-card
            ************0911
            %br
            11/22
          %figure.cardbrand
            = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?210491352", width: "49", height: "15", alt: "visa")
          %ul.buy-userinfo-fix
            = link_to "", class: "userinfo-fix" do
              %span.changea
                変更する
                %i.fas.fa-chevron-right.change1
  .singlefooter
    %ul.clear-fixa
      %li.policy1
        = link_to "", class: "policy" do
          プライバシーポリシー
      %li.policy2
        = link_to "", class: "policy" do
          メルカリ利用規約
      %li.policy3
        = link_to "", class: "policy" do
          特定商取引に関する表記
    .singlefooter-logo
      =link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?210491352", width: "80", height: "65", class: "graylogo"),root_path
    %p.smalname
      %small
        ©︎ 2019 Mercari
