= render partial: 'items/notifications'
= render partial: "users/header"
.top_base
  %header.header
  .slider
    .campgoods_img
      %ul
        %li
        =link_to image_tag("top-banner-camp.jpg",class: "CampCampain"),""
    .smartphone_img
      .smartphone_img_text
        %h2 
          スマホで かんたん
          %br
          フリマアプリ
        %p 
          メルカリはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
        %ul.app_icon
          %li
          = link_to image_tag("AppStore.png", class: "AppStore1"),"https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"
          %li
          = link_to image_tag("google-play-badge.png", class: "google-play-badge1"), "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"
      %figure
        = image_tag "top-banner-main-device.png"

  .recommend
    .center_box
      .popular_recommend
        %h2.popular_category 人気のカテゴリー
        .categories
          %ul.categories2
            %li.categories3
              %a.categories4 レディース
            %li.categories3
              %a.categories4 メンズ
            %li.categories3
              %a.categories4 家電・スマホ・カメラ
            %li.categories3
              %a.categories4 おもちゃ・ホビー・グッズ
      .new_items
        .category_name{name: "scroll-1"}
          %h3._new レディース新着アイテム
          = link_to "", class: "more_items" do
            %p もっと見る
        .__new_items
          .item_img_grid
            -# sakaguchi 出品された商品のデータから画像、商品名、価格を取り出す記述
            - @items.each do |item|
              = link_to item_path(item.id) do
                %figure.style_card
                  - if item.buyer_id.present?
                    .item-sold
                    .sold
                      %p SOLD
                  .style_thumbnail
                    = image_tag item.images[0].image.url
                    %span
                      = "¥#{item.price.to_s(:price)}"
                  %figcaption
                    %span
                      = item.name
            
= render partial: "users/footer"
= render partial: "users/sell_btn"
