= render :partial => "users/header_login"
- breadcrumb :card_create
= render "layouts/breadcrumbs"
%main.main_contents
  = render :partial => "after_card"
  = render :partial => "users/sidebar"
= render :partial => "users/footer"
= render :partial => "users/sell_btn"
